**{{ "{:.2f}%".format(total.pc_covered) }}** total coverage; threshold {{ options.threshold }}

Total files : {{ total.n_files }}
Files with missing lines : {{ missing_coverage_file_count }}
Missing coverage line ranges : {{ missing_ranges_count }}
